# Maven
target/

# Eclipse
.settings/
.classpath
.project

# NetBeans
nbproject/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Windows
Thumbs.db

# Ant
build/

# Matlab
*.asv
*.m~
*.mex*
slprj/

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# SVN
.svn

# HotSpot
hs_err*.log


#
# Javascript Tools
#

# NPM
node_modules/

# Grunt
dist/

# Grunt-ts
tscommand*.tmp.txt

# Bower
bower_components/
