html
{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body
{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* remove browser scrollbars */
}

#exampleDiv
{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

#exampleDiv.errorMessage
{
    padding: 2em;
    color: red;
}

#exampleCanvas
{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block; /* remove browser scrollbars */
}

div.exampleTooltip
{
    font: 13px verdana,sans-serif;
    color: black;
    background-color: white;
    padding: 6px;
}